<div class="container-fluid">
  <div class="row mb-1 mb-sm-4">
    <div class="col-12 text-center d-flex flex-wrap justify-content-center">
      <img class="header__img order-1 ml-4 m-sm-0" src="./src/icon/enteatr2.gif" alt="Вуличний" />
      <a class="order-3 order-sm-2" href="index.html">
        <img class="header__img" src="./src/icon/highlights.png" alt="Highlights" />
      </a>
      <a class="order-4 order-sm-3" href="index.html">
        <img class="header__img" src="./src/icon/logo.png" alt="логотип" />
      </a>
      <img class="header__img order-2 order-sm-4" src="./src/icon/enteatr3.gif" alt="театр" />
    </div>
  </div>
</div>

<!-- Social networks and languages with flag icons -->
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-between mb-md-2">
      <div class="mx-md-5 pl-md-4">
        <a href="http://www.facebook.com/StiltwalkersKyiv" target="_blank">
          <img class="mx-1" src="./src/icon/facebook.png" alt="Наш Facebook" />
        </a>
        <a href="http://www.instagram.com/stiltwalkers/" target="_blank">
          <img class="mx-1" src="./src/icon/insta.png" alt="Наш Instagram" />
        </a>
      </div>

      <div class="ml-auto mx-md-5 pr-4 my-auto">
        <a href="index.html">
          <img class="header__flag" src="./src/icon/flag_ua.gif" alt="Українською" />
        </a>
        <a href="enindex.html">
          <img class="header__flag" src="./src/icon/flag_en.gif" alt="English" />
        </a>
        <a href="http://www.kievtheatre.eu/" target="_blank">
          <img class="header__flag" src="./src/icon/flag_pl.gif" alt="Polska" />
        </a>
      </div>
    </div>
  </div>
</div>
