.select-costume {
  top: 1px;
  height: 40px;
  z-index: 50;
}

#openMenu {
  z-index: 110;
}

.z-index-10 {
  z-index: 10;
}

.img-costume {
  margin: 20px;
}

.btn-color {
  color: rgba(240, 248, 255, 0.75) !important;
}

.swiper-container {
  border: 1px solid silver;
  box-shadow: 0px 0px 8px 4px silver;
}

.swiper-white {
  --swiper-theme-color: rgba(240, 248, 255, 0.75) !important;
}

.swiper-pagination-bullet {
  opacity: 0.6 !important;
}

.call-btn {
  box-shadow: 0px 0px 4px 4px #0000008e;
  border-radius: 50%;
}
