<div class="col-3 ml-lg-5 d-none d-xl-block">
  <nav>
    <div class="nav ml-lg-3">
      <div data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
        <img class="d-block mb-5" src="./src/icon/lamp.png" alt="Ліхтар" />
        <img class="nav__contacts pr-2" src="./src/icon/contacts.png" alt="Контакти" />
      </div>

      <div id="nav__index">
        <a href="index.html">
          <p class="nav__index-img"></p>
        </a>
      </div>

      <div id="nav__spectacle">
        <a href="spectacle.html">
          <p class="nav__spectacle-img"></p>
        </a>
      </div>

      <div id="nav__performance">
        <a href="performance.html">
          <p class="nav__performance-img"></p>
        </a>
      </div>

      <div id="nav__costume">
        <a href="costume.html">
          <p class="nav__costume-img"></p>
        </a>
      </div>

      <div id="nav__contact">
        <a href="contact.html">
          <p class="nav__contact-img"></p>
        </a>
      </div>
    </div>
  </nav>
</div>
