<nav class="sticky-top navbar navbar-expand-lg navbar-light navigation-visibility-mobile">
  <button class="navbar-toggler bg-light" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="d-inline-block d-lg-none navigation__call-btn" href="tel:+380503445323">
    <img src="./src/icon/phone22.png" alt="Наш телефон" />
  </a>
  <div class="navbar-collapse offcanvas-collapse mobile__bg-style" id="navbarSupportedContent">
    <button class="offcanvas-close text-light" type="button" data-toggle="offcanvas-close">
      ×
    </button>
    <!-- Тут вставить фонарь -->
    <nav>
      <div class="nav ml-lg-3">
        <div>
          <img class="d-block mb-5 overflow-hidden" src="./src/icon/lamp.png" alt="Ліхтар" />
        </div>

        <div id="nav__index">
          <a href="index.html">
            <p class="nav__index-img"></p>
          </a>
        </div>

        <div id="nav__spectacle">
          <a href="spectacle.html">
            <p class="nav__spectacle-img"></p>
          </a>
        </div>

        <div id="nav__performance">
          <a href="performance.html">
            <p class="nav__performance-img"></p>
          </a>
        </div>

        <div id="nav__costume">
          <a href="costume.html">
            <p class="nav__costume-img"></p>
          </a>
        </div>

        <div id="nav__contact">
          <a href="contact.html">
            <p class="nav__contact-img"></p>
          </a>
        </div>
      </div>
    </nav>
  </div>
</nav>
